body {
    margin: 0;
    padding: 0;
    height: 100vh; /*full screen height*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.app-container {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 400px;
}